/* components/FeaturedSection.module.css */

.section {
    background-image: url('../assets/coffee.jpg');
    background-size: cover;
    background-position: center;
    height: 50vmin;
    position: relative;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinhar os itens à esquerda */
    justify-content: flex-start; /* Alinhar os itens no topo */
    padding: 16px; /* Adicionar padding para dar espaço entre o conteúdo e as bordas da seção */
  }
  
  .textContainer {
    position: relative;
    margin-bottom: 1rem;
    text-align: left; /* Alinhar o texto à esquerda */
  }
  
  .titleContainer {
    position: relative;
    display: inline-block;
  }
  
  .title {
    font-size: 2rem;
    color: #7519EB;
    margin: 0;
    position: relative;
    z-index: 1;
    display: inline;
    font-weight: bold;
  }
  
  .titleBackground {
    background-color: black;
    height: 33.33333%;
    width: 96%;
    position: absolute;
    bottom: 8px;
    left: 0;
    z-index: 0;
  }
  