@tailwind base;
@tailwind utilities;
@tailwind components;

body {
    font-family: 'Roboto', sans-serif;
}

.siteTitle {
    background: linear-gradient(45deg, rgb(4, 159, 187) 0%, rgb(80, 246, 255) 100%);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
  }
  

h2 {
    font-weight: 100;
}

p {
    font-weight: 300;
}

.bg-hero {
    background: #0074D9;
}



