.verticalRectanglePost {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px 0px;
  }
  
  .verticalRectanglePost:first-child {
    margin-left: 16px; 
  }

  .rectangle {
    width: 100%;
    padding: 16px;
    background-color: #3498db;
    box-sizing: border-box;
    margin-right: 16px;
  }
  
  .postContent {
    flex: 1;
  }
  
  @media (max-width: 768px) {
    .rectangle {
      margin-right: 0;
      margin-right: 24px;
    }
  }
  